<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My Project</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/clientes/view">Clientes</a></li>
        <li class="nav-item"><a class="nav-link" href="/pedidos/view">Pedidos</a></li>
        <li class="nav-item"><a class="nav-link" href="/productos/view">Productos</a></li>
      </ul>
    </div>
</nav>

